body {
	/* background-color: #B2E9FD; */
	background-color: #E8E8E8;
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

a {
	color: #50524F;
	text-decoration: none;
}

a:hover {
	color: black;
}

p a {
	text-decoration: none;
	color: black;
}

/* p > a:hover {

} */

/* input:focus,
input:active {
	outline:0px !important;
  -webkit-appearance:none !important;
	box-shadow: none !important;
} */

.form-control:active,
.form-control:focus {
	outline:none !important;
  -webkit-appearance:none !important;
	box-shadow: none !important;
} 

