body {
	background-color: #B2E9FD;
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
}


